.spotDetailPage {
    flex-direction: column;
    width: 100%;
    gap: 15px;
    justify-content: space-around;
    display: flex;
    align-items: flex-start;
}

.circle {
    font-size: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.top {
    display: flex;
    gap: 15px;
    font-weight: bold;
    font-size: larger;
    align-items: center;
    width: 100%;
}

.topText {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    width: 90%;
}

.editAndDeleteButtons {
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.editButton,
.deleteButton {
    background-color: #ff385c;
    border: none;
    padding: 10px 15px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.avgStarRating {
    display: flex;
    /* align-items: center; */
    font-size: 14px;
    /* width: 100%; */
    /* justify-content: center; */
    /* flex-direction: row;
    height: 15px;
    margin-top: 10px;
    margin-bottom: 10px; */
}
/* .avgRating {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.reviewCount {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.detailLocation {
    display: flex;
    align-items: center;
    flex-direction: row;
} */
.starIcon {
    margin-right: 0.5rem;
    width: 12px;
    /* flex-grow: 1; */
}

.detailImg {
    object-fit: cover;
    height: 500px;
    width: 500px;
    border-radius: 25px;
}

.imageDiv {
    display: flex;
    object-fit: cover;
    border-radius: 25px;
}

.self {
    margin-top: 10px;
    margin-bottom: 10px;
}

.check {
    margin-top: 10px;
    margin-bottom: 10px;
    color: gray;
}
.experience {
    margin-top: 10px;
    margin-bottom: 10px;
    color: gray;
}
.cancel {
    margin-top: 10px;
    margin-bottom: 10px;
}
.description {
    margin-top: 10px;
    margin-bottom: 10px;
}

.avgRatingBottom {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-right: 15px;
}
.reviewStars {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.circleBottom {
    font-size: small;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.reviewButton {
    background-color: #ff385c;
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px
}
