.spotDetailPage {
    flex-direction: column;
    width: 100%;
    gap: 15px;
    justify-content: space-around;
    display: flex;
    align-items: flex-start;
}

.circle {
    font-size: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

.top {
    display: flex;
    gap: 15px;
    font-weight: bold;
    font-size: larger;
}

.topText {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    width: 90%;
}

.editAndDeleteButtons {
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.editButton,
.deleteButton {
    background-color: #ff385c;
    border: none;
    padding: 10px 15px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.avgStarRating {
    display: flex !important;
    align-items: center;
    font-size: 14px;
    width: 100%;
}

.starIcon {
    margin-right: 0.5rem;
    width: 12px;
    flex-grow: 1;
}
