.searchResults {
    display: grid;
    background-color: white;
    position: fixed;
    width: 100px;
}

.search-img {
    width: 500px;
    display: flex;
    height: 200px;
    object-fit: cover;
}

.searchDiv {
    display: grid;
    align-items: center;
    justify-content: center;
}

.resultsSearch {
    display: grid;
    justify-content: center;
    width: 300px;
}

.results {
    display: flex;
    margin-left: 200px;
}

.searchBar {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
}

.inputBox {
    border-radius: 0.35em;
    padding: 0em;

}

.searchInput {
    border-radius: 0.35em;
    padding: 0em;
    height: 60px;

}

.resultsName {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
    color: #D70666;
    font-weight: bold;
    text-decoration: underline;

}
.resultsCity {
    font-size: 12px;
    color: #D70666;
}
